body {
  font-family: 'Ruda', sans-serif;
}

.treeIcon {
  font-size: 4em;
  color: rgba(245,159,26,0.8);
  text-shadow: 1px 4px 6px #FFF,0 0 0 #000,1px 4px 6px #FFF;
}

.title {
  font-family: 'Grand Hotel', cursive;
}

.icon-bar > .title {
  font-size: 32px;
  color: white;
}

.icon-bar > * {
  padding: 5px;
}

.bigtitle h1, h2 {
  text-align: center;
}

.bigtitle > h2 {
  font-size: 15px;
  margin-bottom: -20px;
}

.bigtitle > h1 {
  font-size: 5em;
}

h2 {
  font-family: 'Alegreya Sans SC', sans-serif;
}
/************* ANIMATIONS *************/
.view-container {
  position: relative;
}

.view-frame.ng-enter, .view-frame.ng-leave {
  background: white;
  position: absolute;
  top: 65;
  left: 0;
  right: 0;
}

.view-frame.ng-enter {
  -webkit-animation: 0.5s fade-in;
  -moz-animation: 0.5s fade-in;
  -o-animation: 0.5s fade-in;
  animation: 0.5s fade-in;
  z-index: 100;
}

.view-frame.ng-leave {
  -webkit-animation: 0.5s fade-out;
  -moz-animation: 0.5s fade-out;
  -o-animation: 0.5s fade-out;
  animation: 0.5s fade-out;
  z-index:99;
}

@keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}
@-moz-keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}
@-webkit-keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes fade-out {
  from { opacity: 1; }
  to { opacity: 0; }
}
@-moz-keyframes fade-out {
  from { opacity: 1; }
  to { opacity: 0; }
}
@-webkit-keyframes fade-out {
  from { opacity: 1; }
  to { opacity: 0; }
}
