<div class="row">
  <div class="medium-6 medium-offset-3 columns bigtitle">
		<h2>The simplest geneaology tool on the web</h2>
		<h1 class="title">Treeclimber</h1>
	</div>
</div>

<div class="row">
  <div class="medium-8 medium-offset-2 columns" style="text-align: center;">
		<p>Currently listing {{people.length}} entries supported by {{documents.length}} documents.
		<ul class="button-group">
		  <li><a href="/app/#/people/register" class="button">Add person</a></li>
		  <li><a href="/app/#/documents/add" class="button">Add document</a></li>
		</ul>
	</div>
</div>
