<div class="row">
  <div class="medium-6 medium-offset-3 columns">
		<h2>{{person.name.full}}</h2>
    <h3>{{person.birth.year}} &ndash; {{person.death.year || "present"}} (age {{person.age}})</h3>
    <button class="button small" id="editswitch" data-ng-click="switchEdit()">{{editing ? "Cancel" : "Edit"}}</button>
    <div data-ng-show="!editing">
  		<ul>
  			<li><strong>Born:</strong> {{person.birth.dateprint}}, {{person.birth.place}}
  			<li data-ng-hide="person.alive"><strong>Died:</strong> {{person.death.dateprint}}, {{person.death.place}}
        <li data-ng-hide="!person.biography"><strong>Biography:</strong> {{person.biography}}
  		</ul>
    </div>

    <!-- for editing the data: -->
    <div data-ng-show="editing">
  		<ul>
        <li><strong>First:</strong> <input type="text" data-ng-model="person.name.first">
        <li><strong>Middle:</strong> <input type="text" data-ng-model="person.name.middle">
        <li><strong>Last:</strong> <input type="text" data-ng-model="person.name.last">
        <li><strong>Suffix:</strong> <input type="text" data-ng-model="person.name.suffix">
  			<li><strong>Birth date:</strong> <input type="text" data-ng-model="person.birth.date">
        <li><strong>Birth place:</strong> <input type="text" data-ng-model="person.birth.place">
        <li><strong>Death date:</strong> <input type="text" data-ng-model="person.death.date">
        <li><strong>Death place:</strong> <input type="text" data-ng-model="person.death.place">
        <li><strong>Biography:</strong> <textarea data-ng-model="person.biography" rows="10" cols="60"></textarea>
  		</ul>
      <button data-ng-click="update()">Update!</button>
    </div>
	</div>
  <div class="medium-3 columns">
    <div data-ng-show="relations.length > 0 || editing">
      <h3>Relations</h3>
      <ul>
        <li ng-repeat="rel in relations">
          <strong>{{rel.relation}}:</strong> <a data-ng-href="/app/#/people/{{rel.otherId}}">{{rel.otherName}}</a><i class="fi-x-circle deletebutton" data-ng-click="delRel(rel)" data-ng-show="editing"></i>
        </li>
      </ul>
    </div>
    <div data-ng-show="editing">
      <h4>Add a relation</h4>
      <p>{{person.name.first}} is the
        <select name="singleSelect" ng-model="how_related">
          <option value="spouse">spouse</option>
          <option value="parent">parent</option>
          <option value="child">child</option>
      </select> of:</p>
      <select ng-options="relative as relative.name.full for relative in people track by relative._id" ng-model="relation_to_add"></select>
      <button class="button small" data-ng-click="addrel()">Add</button>
    </div>
    <div data-ng-show="citations.length > 0 || editing">
      <h3>Citations</h3>
      <ul>
        <li ng-repeat="cite in citations | orderBy:number">
          <strong>{{cite.number}}:</strong> {{cite.doc.title}}<i class="fi-x-circle deletebutton" data-ng-click="delCite(cite)" data-ng-show="editing"></i>
        </li>
      </ul>
    </div>
    <div data-ng-show="editing">
      <h4>Add a citation</h4>
      <select ng-options="doc as doc.title for doc in documents track by doc._id" ng-model="citation_to_add"></select>
      <button class="button small" data-ng-click="addcite()">Add</button>
    </div>
  </div>
</div>
